In [2]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"
data = pd.read_csv(url + "adult.data.csv")

In [4]:
print(data.head)
print("Число столбцов в наборе данных: ", len(data.columns))

<bound method NDFrame.head of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>
Число столбцов в наборе данных:  15

In [5]:
missing_data = data.isnull().sum().sum ()
print(f"Пропуски в данных: {missing_data}")

Пропуски в данных: 0

In [6]:
unique_race_count = data['race'].nunique()
print("Количество уникальных значений в столбце 'race':", unique_race_count)

Количество уникальных значений в столбце 'race': 5

In [7]:
median_hours_per_week = data['hours-per-week'].median()
print("Медиана значений в столбце 'hours-per-week':", median_hours_per_week)

Медиана значений в столбце 'hours-per-week': 40.0

In [8]:
salary_check = data['salary'] == '>50K'
male_count = data[salary_check]['sex'].value_counts()['Male']
female_count = data[salary_check]['sex'].value_counts()['Female']

if male_count > female_count:
     print("Male")
elif male_count < female_count:
     print("Female")
else:
     print("M = F")

Male

In [9]:
for column in data.columns:
    most_common_value = data[column].mode()[0]
    data[column] = data[column].fillna(most_common_value)

missing_data_after = data.isnull().sum()
if missing_data_after.sum() == 0:
    print("Все пропущенные данные успешно заполнены.")
else:
    print(f"Остались пропуски:\n{missing_data_after[missing_data_after > 0]}")

Все пропущенные данные успешно заполнены.

<ol>
    <li>15</li>
    <li>0</li>
    <li>5</li>
    <li>40.0</li>
    <li>Male</li>
    <li>Другие методы заполнения пропусков:
        <ul>
            <li>Средним значением</li>
            <li>Медианой</li>
            <li>Метод интерполяции</li>
            <li>Заполнение специальными значениями (например, "Unknown", 0, -1)</li>
            <li>Удаление строк или столбцов с пропусками</li>
            <li>Алгоритмы машинного обучения</li>
        </ul>
    </li>
</ol>